.custom-background {
    background-image: url('image\ra-0007.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
